<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--$:comments-->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	<!-- disable caching -->
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">

    <title th:text="'Yodas Home - ' + ${title}">The Title</title>
	
    <!-- favicons -->
    <link rel="icon" type="image/png" th:href="'/resources/themes/' + ${theme} + '/images/favicon_32x32.png'"
          sizes="32x32">
    <link rel="icon" type="image/png" th:href="'/resources/themes/' + ${theme} + '/images/favicon_96x96.png'"
          sizes="96x96">

    <script type="application/javascript" th:src="'/resources/themes/' + ${theme} + '/js/lightmanager.js'"></script>
    <script type="application/javascript" src="/resources/js/iro/iro.js"></script> <!-- https://iro.js.org/ -->
	<script type="application/javascript" src="/resources/js/klanglicht.js"></script>

	<link rel="stylesheet" th:href="'/resources/themes/' + ${theme} + '/css/lightmanager.css'"> 
  </head>
  <body>
    <div id="main">
      <main id="content" class="scrollable" th:utext="${content}">
      </main>
    </div><!-- main -->
  </body>
</html>
